[run]
omit =
    todo/__init__.py
    todo/admin.py
    todo/apps.py
    todo/models.py
    todo/migrations/*

[report]
omit =
    todo/__init__.py
    todo/admin.py
    todo/apps.py
    todo/models.py
    todo/migrations/*
